# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Debug/vc142.pdb
/x64/Debug/vc142.idb
/x64/Debug/Touhu.vcxproj.FileListAbsolute.txt
/x64/Debug/Touhu.tlog/Touhu.lastbuildstate
/x64/Debug/Touhu.tlog/link.write.1.tlog
/x64/Debug/Touhu.tlog/link.read.1.tlog
/x64/Debug/Touhu.tlog/link.command.1.tlog
/x64/Debug/Touhu.tlog/CL.write.1.tlog
/x64/Debug/Touhu.tlog/CL.read.1.tlog
/x64/Debug/Touhu.tlog/CL.command.1.tlog
/x64/Debug/Touhu.pdb
/x64/Debug/Touhu.log
/x64/Debug/Touhu.ilk
/x64/Debug/Touhu.exe.recipe
/.vs/Touhu/v16/ipch/AutoPCH/c02d8c0003a57adf/MAIN.ipch
/.vs/Touhu/v16/ipch/AutoPCH/a860cb1184306120/ENEMY.ipch
/.vs/Touhu/v16/Browse.VC.db
/.vs/Touhu/v16/.suo
/.vs/Touhu/v16/Browse.VC.opendb
/.vs/Touhu/v16/Browse.VC.db-wal
/.vs/Touhu/v16/Browse.VC.db-shm
